.notfound-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: transparent linear-gradient(180deg, #ffffff 0%, #f5e9aa 100%) 0% 0% no-repeat padding-box;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.notfound-404 {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  z-index: 2;
}

.notfound-text {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  z-index: 2;
}

.notfound-logo-bird {
  width: 350px;
  height: auto;
  object-fit: contain;
  z-index: 1;
}
