/*body {
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    font-family: Inter;

    background: transparent linear-gradient(180deg, #ffffff 0%, #f5e9aa 100%) 0% 0% no-repeat padding-box;
}

nav {
    box-sizing: border-box;
    padding: 0em 3em;

    width: 300px;
    height: 100vh;
    
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inspiart {
    padding-top: 20%;
    font-size: 2em;
    align-self: flex-start;
}

.inspiart-text {
    background: linear-gradient(90deg, #f28618, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 40vh;
    margin-top: 2em;
}

ul {
    list-style-type: none;
    color: white;
    font: normal normal normal 14px/18px Inter;
    letter-spacing: 2px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    text-align: left;
    margin: 0;
}

.fa, .fas {
    width: 2em;
}

a {
    text-decoration: none;
    display: inline-block;
}

.menu-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #854E25;
    margin-left: 0;
    text-align: left;
    letter-spacing: 0.7px;
    color: #000000;
    padding: 1em;
    width: 90%;
}

.menu-button-text {
    margin: 0;
    margin-left: 2em;
}

button {
    border-radius: 100px;
    background: #F28618;
    width: 100%;
    height: 4em;
    border: none;
    color: white;
    margin: 3em;
    line-height: 2.5em;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: small;
}

button:hover {
    background-color: #854E25;
}

.log-out {
    margin-top: auto;
}

.base-container {
    width: calc(100vw - 300px);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
}

.base-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("/assets/logo-bird.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100vh;

    opacity: 0.5;

    z-index: -1;
}

.section {
    height:70vh;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-gap: 2em;
    place-items: center;
    justify-items: center;
    align-items: center;

    position: absolute;
}

.option {
    width: 60%;
    height: 9em;

    background-color: #fffff5ea;
    padding: 3em;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.option>i {
    margin-bottom: 0.2em;
    font-size: 6em;

    color:#000000;
}
.option>img {
    margin-bottom: 0.2em;
    height: 6em;

    color:#000000;
}

.option-label {
    font-size: 1.5em;
    text-align: center;
}

.decoration-top {
    display: flex;
    margin-bottom: auto;
    width:calc(100vw - 300px);
}

.decoration-bottom {
    display: flex;
    margin-top: auto;
    width:calc(100vw - 300px);
    height: 25%;
}
*/